In [1]:
# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
#file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'

In [3]:
len(test1)

43

In [4]:
outfile = open('test.txt', 'w')

In [5]:
outfile.write(test1)

43

In [6]:
outfile.close()

In [7]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
#and test 2?

In [8]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [9]:
len(test2)

43

In [10]:
test1 == test2

True

In [11]:
# 3. Create a CSV file called books.csv by using these lines:
#title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Mi√©ville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992

In [4]:
text='''title, author, year
The Wierdstone of Brisingamen, Alan Garner, 1960
Perdido Street Station, China Mieville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007
Small Gods, Terry Pratchett,1992'''

In [5]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [6]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
#these fields: title (text), author (text), and year (integer).

In [7]:
import sqlite3

In [8]:
db = sqlite3.connect('books.db')

In [9]:
curs = db.cursor()

In [10]:
curs.execute('''create table book (title text, author text, year int)''')

OperationalError: table book already exists

In [19]:
db.commit()

In [20]:
# 5. Read books.csv and insert its data into the book table.

In [21]:
import csv

In [22]:
import sqlite3

In [23]:
ins_str = ' insert into book values(?, ?, ?)'

In [24]:
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

KeyError: 'author'

In [28]:
db.commit()

In [29]:
# 6. Select and print the title column from the book table in alphabetical order.

In [30]:
sql = 'select title from book order by title asc'

In [1]:
for row in db.execute(sql):
    print(row)

NameError: name 'db' is not defined

In [2]:
for row in db.execute(sql):
    print(row[0])

NameError: name 'db' is not defined

In [3]:
# 7. From the book table, select and print all columns in the order of publication.

In [11]:
# for row in db.execute('select * from book order by year'):
#      print(row)

In [12]:
# for row in db.execute('select * from book by year'):
#      print(*row, sep=', ')

In [13]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
# exercise 6.

In [14]:
# import sqlalchemy
# conn = sqlalchemy.create_engine('sqlite://books.db')
# sql = 'select title from book order by title asc'
# rows = conn.execute(sql)
# for row in rows:
#     print(row)

In [15]:
# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
#Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test

In [16]:
# !pip install redis

In [17]:
# 10. Increment the count field of test and print it.