In [1]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
#the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
#[1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
years_list = [i for i in range(1982,1982+6)]
years_list

[1982, 1983, 1984, 1985, 1986, 1987]

In [3]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
#first year.

In [4]:
#first year
years_list[3]

1985

In [5]:
# 3.In the years list, which year were you the oldest?

In [6]:
max(years_list)

1987

In [7]:
# 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
#&quot;salmonella&quot;.

In [8]:
things = list(['mozzarella', 'cinderella', 'salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

In [9]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the
# element in the list?

In [10]:
# Capitalize() will not update the list original values.

In [11]:
for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

In [12]:
# 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [13]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

In [14]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [15]:
surprise_list[-1].lower()

'harpo'

In [16]:
surprise_list[-1][::-1]

'opraH'

In [17]:
surprise_list[-1][::-1].upper()

'OPRAH'

In [18]:
# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
#chien, cat is chat, and walrus is morse.

In [19]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}

In [20]:
# 9. Write the French word for walrus in your three-word dictionary e2f.

In [21]:
e2f['walrus']

'morse'

In [22]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.#

In [23]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [24]:
#11. Print the English version of the French word chien using f2e.#

In [25]:
f2e['chien']

'dog'

In [26]:
#12. Make and print a set of English words from the keys in e2f.#

In [27]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [28]:
# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
#and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
#&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
#Make all the other keys refer to empty dictionaries.

In [29]:
life = {'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :''}
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [30]:
# 14. Print the top-level keys of life.

In [31]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [32]:
# 15. Print the keys for life[&#39;animals&#39;].

In [33]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [34]:
#16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]#

In [35]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']